name: Deploy
on:
  push:
    branches:
      - master
      - development

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-16.04
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Install dependencies
        run: npm ci && npm i -g now

      - name: Deploy staging
        run: now -A ./production.now.json --prod --token=$NOW_TOKEN --scope=coronasepush --confirm
        if: github.ref == 'refs/heads/development'

      - name: Deploy staging
        run: now -A ./staging.now.json --prod --token=$NOW_TOKEN --scope=coronasepush --confirm
        if: github.ref == 'refs/heads/master'
